@tailwind base;
@tailwind components;
@tailwind utilities;


.navbarTitle{
    color: aqua;
}

.navbarbg{
    display: flex;
    align-items: center;
    background: #51d6c8;
    background: linear-gradient(90deg, #7DEDED 0%, rgba(255,255,255,0) 100%);
    height: 100px;
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.yellow-line{
    background-color: #323232;
    height: 2px;
    opacity: 100%;
}

.logo{
    width: 250px;
    margin-left: 50px;
}

.navbarmenu{
    
    padding: 0px 10px;
    margin: 0 10px;
    border: 0;
    background: none;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 15px;
}

.navbarlogin{
    
    padding: 8px 30px;
    margin: 0;
    border: 0;
    border-radius: 8px;
    background: #F09027;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 15px;
}

.navbarmenubuttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 30px;
}

.slidebg{
    background-color: antiquewhite;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    background: #7DEDED;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%,rgba(140,190,170,1) 100%);
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slide1{
    width:100%;
    height: auto;
}

.searchbg{
    position: absolute;
    background-color: #202020;
    border: solid;
    border-color: #F09027;
    padding: 5px 20px;
    width: 600px;
    border-radius: 500px;
    margin: auto;
    position: relative;
    bottom: 25px;
    display: flex;
}

.searchtxt{
    color: #6A6A6A;
    font-family:AXIS,Helvetica, sans-serif;
    margin-left: 20px;
}

.searchbutton{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    right: 25px;
}

.searchbar{
    background: none;
    width: 60%;
    border: none;
    color: #6A6A6A;
    font-family:AXIS,Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
    
    
}

.searchbar:focus{
    outline: none;
    border: none;
    color: aliceblue;
  }


.allcoursesbarbg{

    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}


.allcoursesbutton{
    color: #020202;
    font-family:AXIS,Helvetica, sans-serif;
    background-color: #F09027;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 0;    
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whitebg{
    top: -80px;
    width: 100%;
    z-index: -2;
    opacity: 100%;
    position: absolute;
}

.whitebgdiv{
    display: flex;
    flex-direction: column;
    position: relative;
}

.musicbarbg{
    display: flex;
    align-items: center;
    background: #F5A752 ;
    height: 120px;
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.musicicon{
    width: 90px;
    margin-left: 30px;
    align-items: center;
    position: inherit;
    padding-left: 270px;

}

.musicbartxt{    
    padding: 30px;
}

.statsbarbg{
    display: flex;
    align-items: center;
    background: #7DEDED ;
    height: 120px;
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
    flex-wrap: wrap;
}

.statsbutton{
    
    padding:10px;
    margin: 0 132px;
    border: 0;
    background: none;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 15px;
}

.coursecardimage{
    padding: 0px;
    width: 200px;
    height: 200px;
    

}

.displaycourses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}

.coursecarddetails{
    background-color: #F09027;
    width: 200px;
    text-align: center;
    align-self: center;
    border-radius: 0 0 5px 5px;
    font-family:AXIS,Helvetica, sans-serif;
}

.coursecarddetails:active{
    text-decoration: none;
    color: #494949;
}
.displaycourseslink:visited{
    text-decoration: none;
    color: #ffffff;
}
.displaycourseslink:link{
    text-decoration: none;
    color: #bf2727;
}

.coursecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: relative;
    border: solid 3px rgb(39, 39, 39);
    margin: 30px 50px;
    border-radius: 8px;

}


.topcategorybg{
    display: flex;
    align-items: center;
    background:#7DEDED;
    height: 180px;
    width: 100%;
    font-family:AXIS,Helvetica, sans-serif;
    
}

.categorytext{
    padding: 90px;
    font-size: 20px;
}

.allcoursesbutton{
    z-index: 2;
    color: #020202;
    font-family:AXIS,Helvetica, sans-serif;
    background-color: #F09027;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 80px;
    border: none;
}

.topcategogybutton{
    border: none;
    background-color: #F09027;
    padding: 15px;
    margin: 10px;
    font-family:AXIS,Helvetica, sans-serif;
    border-radius: 8px;
}
