.navbarTitle{
    color: aqua;
}

.navbarbg{
    display: flex;
    align-items: center;
    background: rgb(81,214,200);
    background: linear-gradient(90deg, rgba(140,190,170,1) 0%, rgba(255,255,255,0) 100%);
    height: 100px;
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.yellow-line{
    background-color: #F09027;
    height: 5px;
}

.logo{
    width: 250px;
    margin-left: 50px;
}

.navbarmenu{
    
    padding: 0px 10px;
    margin: 0 20px;
    border: 0;
    background: none;
    font-family:AXIS,Helvetica, sans-serif;
}

.navbarlogin{
    
    padding: 8px 20px;
    margin: 0 20px;
    border: 0;
    border-radius: 8px;
    background: #F09027;
    font-family:AXIS,Helvetica, sans-serif;
}

.navbarmenubuttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 50px;
}